@import "utils"

body
    overflow-y scroll
    margin 0px
    background black
    
#app-canvas
    margin 0 auto
    
    
.home
  text-align center
  margin 0 auto
  width 300px
  a
    font-size 32px
    margin-top 300px
    
    display block
    color white
    text-decoration none
    background grey
    padding 10px 20px
    border-radius 5px
    box-shadow 0px 0px 5px white
    &:hover
      background #bfbfbf
      box-shadow 0px 0px 15px white
      